*.iml
*.class
.gradle
.kotlin
/local.properties
/key.properties
# Firebase configuration, contains project identifiers, keep out of the public repo
/app/google-services.json
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
GeneratedPluginRegistrant.java
